.navbar {
    .logo img {
        height: $sizeLogo;
    }
    .navbar-brand {
        font-size: 16px;
    }
    .navbar-nav {
        margin-left: 50px;        
    }
    .nav-item a {
        font-size: $sizeMenu;
    }
    .carro i {    
        font-size: $sizeCarro;
        padding: 10px;    
    } 
}